<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StuyTown Task Manager</title>
    <style>
        body {
            text-align: center;
            margin: 20px;
            background-color: #daa5e6;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1, p, ul, li, a {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to the StuyTown Task Manager!</h1>
    <p>This is a simple task management app built with Flask and with love.</p>

    <h2>Navigation:</h2>
    <h3><a href="/tasks">Go to Tasks Page</a></h3>
    <img src="../static/stuytown.jpeg">
</body>
</html>
